/* Ana sayfa düzeni için CSS */
.event-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .event-card {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .event-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .event-title {
    font-size: 1.6rem;
    font-weight: bold;
    color: #333;
  }
  
  .event-description {
    font-size: 1.1rem;
    color: #555;
    margin-top: 10px;
  }
  
  .event-date {
    font-size: 1.1rem;
    color: #777;
    margin-top: 10px;
  }
  
  .event-details-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .event-details-link:hover {
    background-color: #45a049;
  }
  